<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>
<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">IRIS import manager</div>
        <div class="list-group list-group-flush">
            <a href="/" class="list-group-item list-group-item-action bg-light">Import from MongoDB</a>
            <a href="/import-json" class="list-group-item list-group-item-action bg-light">Import from custom JSON</a>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% if data['status'] is defined %}
                {% if data['status'] == true %}
                <div class="alert alert-primary" role="alert">
                    {{data['message']}}
                </div>
                {% else %}
                <div class="alert alert-danger" role="alert">
                    {{data['message']}}
                </div>
                {% endif %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>

</div>

</body>
</html>